@import '_fonts';
@import '_grid';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
 	display: flex;
  flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
}

a,
a:visited {
	color: #F2645A;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

p {
	font-size: 16px;
	line-height: 26px;
}

h1 {
  font-family: 'Gotham-Bold';
  margin-bottom: 0;
	margin-top: 15px;
	text-align: right;
}

h2 {
  font-family: 'Gotham-Bold';
  font-size: 20px;
}

h3 {
  font-family: 'Gotham-Bold';
  font-size: 14px;
  margin-left: 90px;
}

h4 {
	color: #888;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  text-align: right;
}

section {
	min-height: 100vh;
	padding: 0 20px;
}

#footer {
	border-top: 1px solid #888;
	color: #505050;
	min-height: 60vh;
	margin-top: 40px;
	padding: 10px 0 10px;
	width: 100%;
	p {
		font-size: 13px;
		line-height: 20px;
		padding: 0 20px;
	}
	.footer-logos {
		align-items: center;
		display: flex;
		margin: 30px 0 20px;
		img {
			margin-left: 30px;
		}
	}
	.inner {
		display: flex;
		flex-flow: row;
		margin: 0 auto;
		padding: 0 20px;
		width: 1170px;
		.left {
			width: 60%;
		}
		.right {
			padding-top: 15px;
			text-align: right;
			width: 40%;
		}
	}
}

mark {
	background-color: #EEE;
	cursor: pointer;
}

.highlightRing {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
  } 
}

.introduction {
	height: 125vh;
	margin: 0 auto;
  max-width: 1170px;
	position: relative;
	section {
		min-height: auto;
		position: absolute;
		top: 30%;
		transform: translateY(-30%);
	}
}

.visual-col {
	height: 100vh;
  position: relative;
  .container {
  	display: none;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		img {
			max-width: 670px;
			width: 100%;
		}
	}
}

.label {
	font-size: 12px;
	&.type {
		text-transform: capitalize;
	}
}

.legend {
	font-size: 12px;
}

.lollipop-container {
	position: relative;
	.tick {
		text {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 12px;
		}
	}
	.legend {
		align-items: flex-start;
		display: flex;
		flex-flow: column;
		font-size: 12px;
		margin-top: 10px;
		position: absolute;
		bottom: 60px;
		right: 90px;
		.key {
			display: inline-block;
			margin-right: 6px;    
			margin-bottom: -1px;
			&.key-circle {
				border: 0;
			  border-radius: 50%;
			  height: 12px;
			  width: 12px;
			}
		}
	}
}

#lineChart,
#growthChart {
	// .axis {
	// 	.tick line {
	// 		display: none;
	// 	}
	// }
	.y.axis {	
		path.domain,
		.tick line {
			display: none;
		}
	}
}

#healthChart {
	.y.axis {
		path.domain,
		.tick line {
			display: none;
		}
	}
}

#barChart {
	.axis {
		path.domain,
		.tick line {
			display: none;
		}
	}
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.ocha-header {
	background-color: #252525;
	color: #FFF;
	line-height: 35px;
	padding: 0 45px;
  .ocha-header-container {
    height: 35px;
		margin: 0 auto;
    max-width: 1176px;
    width: 100%;
    .ocha-services {
    	align-items: center;
	    color: #EEE;
    	display: inline-flex;
    	font-family: helvetica, arial, sans-serif;
	    font-size: 12px;
	    font-weight: 400;
	    .ocha-logo {
		    background: url('../assets/logo-ocha-white.svg') 50% no-repeat;
		    background-size: contain;
		    display: inline-block;
		    flex-shrink: 0;
		    height: 18px;
		    margin-right: 4px;
		    width: 21px;
			}
	    .icon-o-arrow-up {
			   display: none;
			}
			.icon-o-arrow-up,
	    	.icon-o-arrow-down {
			    margin-left: 10px;
			    height: 9px;
			    fill: #EEE;
				}
				&:hover {
					text-decoration: underline;
				}
			}
    }
    .ocha-services-menu-container {
	    .ocha-services-menu {
		    color: #EEE;
		    display: flex;
		    font-family: helvetica, arial, sans-serif;
		    font-size: 12px;
		    font-weight: 600;
		    justify-content: space-between;
		    margin: 0 auto;
	    	max-width: 1176px;
		    padding: 22px 0;
	    	width: 100%;
		    .btn.ocha-see-all {
		    	background-color: #CCC;
		    	border: 0;
		    	border-radius: 2px;
		    	color: #0077CE;
		    	display: inline-block;
		    	font-family: 'Gotham-Bold';
		    	font-size: 12px;
		    	height: 43px;
		    	margin: 20px 0;
		    	padding: 4px !important;
		    	text-align: center;
		    	text-transform: uppercase;
		    	width: 210px;
		    	&:hover {
		    		background-color: #888;
		    		text-decoration: none;
		    	}
		    }
		}
   }
	.dropdown-menu {
    background-color: #333;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display: none;
    left: 0;
    list-style: none;
    position: absolute;
    text-align: left;
    top: 35px;
    width: 100%;
    z-index: 1002;
    .ocha-links-list {
    	list-style-type: none;
    	margin-top: 0;
    	padding: 0;
    	li {
	    	font-size: 12px;
	    	line-height: 21px;
	    	margin-top: 6px;
	    	a {
	    		color: #FFF;
	    		&:hover {
	    			color: #F2645A;
	    			text-decoration: none;
	    		}
	    	}
	    }
    }
    .list-title {
    	color: #EEE;
    	font-size: 12px;
	    font-weight: 400;
    	margin: 0;
    }
	}
}

@media only screen and (max-width: 767px) {
	.ocha-header {
		padding: 0 20px;
		.ocha-services-menu-container {
			.ocha-services-menu {
				flex-flow: column;
				padding: 0 30px;
			}
		}
		.dropdown-menu {
			.list-title {
				margin-top: 20px;
				&.list-title-empty {
					display: none;
				}
			}
		}
	}
	h1,
	h4 {
		text-align: left;
	}
	h3 {
		margin-left: 0;
	}
	.introduction {
		height: auto;
		margin-top: 100px;
		max-width: 100%;	
		section {
			position: relative;
			top: auto;
			transform: none;
		}
	}
	section {
		margin-top: 80px;
		min-height: auto;
		position: relative;
		top: auto;
		transform: none;
	}
	.visual-col {
		display: none;
	}
	.container {
		display: block;
		margin-top: 50px;
		padding: 0 20px;
		position: relative;
		top: auto;
		transform: none;
		img {
			max-width: 100%;
		}
	}
	.lollipop-container {
		.legend {
			bottom: auto;
			margin-left: 90px;
			position: relative;
			right: auto;
		}
	}
	#footer {
		margin-top: 100px;
		min-height: auto;
	}
}
